.container
  .row
    .col-md-3
      = render partial: "admins/admin_bar"
    .col-md-9
      %h1= t('.usage_statistic')

      .pull-right
        = form_tag("/admins/stats", method: "get", class: "form-inline") do
          %select.form-control{name: "range"}
            %option{value: "daily", selected: ("selected" if params[:range] == "daily")}
              = t('.daily')
            %option{value: "week", selected: ("selected" if params[:range] == "week")}
              = t('.week')
            %option{value: "2weeks", selected: ("selected" if params[:range] == "2weeks")}
              = t('.2weeks')
            %option{value: "month", selected: ("selected" if params[:range] == "month")}
              = t('.month')

          = submit_tag t(".go"), class: "btn btn-primary"

      = render partial: "admins/stats"
