-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= render template: "layouts/with_header"

- content_for :container_content do
  
  .row-fluid
    %h1
      = t('_statistics')
    
    - @raw_data.each do |key, value| 
      .span-3
        %h3
          = t("statistics.#{key}")
        .data
          = value
    
    %h1
      = t('statistics.services')
    
    - @services.each do |key, value| 
      .span-3
        %h3
          = "t('statistics.is_service_connected') #{key}"
        .data
          - value ? t('statistics.enabled') : t('statistics.disabled')
