-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= render template: "layouts/with_header"

- content_for :container_content do
  
  .row-fluid
    %h1
      = t('_statistics')  
      
    .span-3
      %h4
        = t('statistics.name')
      %br
      = @as_name
    .span-3
      %h4
        = t('statistics.network')
      %br
      = @as_network
    .span-3
      %h4
        = t('statistics.users')
      %br
      = @as_users
    .span-3
      %h4
        = t('statistics.active_users')
      %br
      = @as_active_users
    .span-3
      %h4
        = t('statistics.monthly_users')
      %br
      = @as_monthly_users
    .span-3
      %h4
        = t('statistics.posts')
      %br
      = @as_posts
    .span-3
      %h4
        = t('statistics.comments')
      %br
      = @as_comments
    .span-3
      %h4
        = t('statistics.version')
      %br
      = @as_version
    .span-3
      %h4
        = t('statistics.registrations')
      %br
      = @as_registrations
