-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= render template: "layouts/with_header"

- content_for :container_content do
  %h1
    = t('statistics')  
  
  %ul
    %li
      = t('statistics.name')
      -# = @as_name
    %li
      = t('statistics.network')
      -# = @as_network
    %li
      = t('statistics.users')
      -# = @as_users
    %li
      = t('statistics.active_users')
      -# = @as_active_users
    %li
      = t('statistics.monthly_users')
      -# = @as_monthly_users
    %li
      = t('statistics.posts')
      -# = @as_posts
    %li
      = t('statistics.comments')
      -# = @as_comments
    %li
      = t('statistics.version')
      -# = @as_version
    %li
      = t('statistics.registrations')
      -# = @as_registrations
